<div class="row">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="onAdd()" >Add</button>
    </div>
  </div>
</div>

<div class="row">
  @for (todo of todos();track $index) {
    <div class="row-cols-sm-2 border-dark border-2 mt-3">
      <ul class="list-group">
        <li class="list-group-item-primary" (click)="onSelect($index)">
          <div class="col-lg-6">
            <p> {{ todo.description }}
              {{ todo.todoName }}
              {{ todo.status }}
              {{ todo.assignedTo }}</p>
          </div>
        </li>
      </ul>
    </div>
  } @empty {
    <div class="col-lg-6">
      <p> no data </p>
    </div>
  }
</div>
